* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://i.pinimg.com/originals/8f/12/f4/8f12f4d9df96070d4d8be19b52aa87f0.jpg?nii=t");
    background-repeat: no-repeat;
    background-size: cover;
}
.div_img{
    width: 300px;
    height: 300px;
    border: 5px solid white;
    overflow: clip;
}

.div_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}